<div id="available-things" v-cloak>

  <h1>Things</h1>
  <p>View available items to borrow, or upload your own things.</p>
  <button>TODO</button>

  <ul>
    <li v-for="thing in things"
        @click="clickThing(thing.id)">{{thing.label}}</li>
  </ul>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
